
<div class="jumbotron">
  <div class="container">
    <h1>Admin Beacon Console</h1>
    <p>As a priviledged user, you can control beacons, look at query history, and inspect their performance, and more! Have fun!</p>
  </div>
</div> 


<div class="admin-menu">
    <div class="container">
        <div class="row">

            <a ui-sref="admins.control"><div class="col-md-4">
                <h2><i class="fa fa-power-off"></i><span>Beacon Switches<span></h2>
                <p>Where you can switch on/off beacons individual or by organizations</p>
            </div></a>
            <a ui-sref="admins.performance"><div class="col-md-4">
                <h2><i class="fa fa-pie-chart"></i>Beacon Performance</h2>
                <p>Inspect statistics on beacon responses, such as numbers of yes/no/null, 
                	and find out the most commonly used beacons and searched queries.</p>
            </div></a>

             <a ui-sref="admins.genome"><div class="col-md-4">
                <h2><i class="fa fa-area-chart"></i>Genome Visualization</h2>
                <p>Look at historical queries on a genomic heatmap</p>
            </div></a>
        </div>
    </div>
</div>


<div class="beacon-info-panels">
    <div class="container">
    	
        <div class="row">

            <div class="col-md-2">
            	<h2 class="title">progress <i class="fa fa-angle-double-right"></i></h2>
            </div>

            <div class="col-md-2">
                <div class="circleBase">
                    <h4>COUNTRY</h4>
                    <h3>3</h3>
                </div>
            </div>

            <div class="col-md-2">
                <div class="circleBase">
                    <h4>HOST</h4>
                    <h3>10</h3>
                </div>
            </div>

            <div class="col-md-2">
                 <div class="circleBase">
                    <h4>BEACON</h4>
                    <h3>23</h3>
                </div>
            </div>

            <div class="col-md-2">
                 <div class="circleBase">
                    <h4>USER</h4>
                    <h3>300</h3>
                </div>
            </div>

            <div class="col-md-2">
                 <div class="circleBase">
                    <h4>QUERY</h4>
                    <h3>1000</h3>
                </div>
            </div>

        </div>
    </div>
</div>