<div class="section row" ng-controller="performanceCtrl">
  <div class="panel">
    <div class="panel-heading">
      Beacon Performance
    </div>
    <div id='performance' class="panel-body">
      <!-- MDL Progress Bar with Indeterminate Progress -->
      <div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div>

      <donut data="data" name="name" colors="colors" nquery="nquery"></donut>
    
    </div>
  </div>
</div>



<div class="col-lg-6 variantsPanel" ng-controller="BeaconSwitchCtrl">
  <div class="panel">
    <div class="panel-heading">
      Popular Variants 
    </div>
    <div class="panel-body">
     
    </div>
  </div>
</div>

<div class="col-lg-6 beaconsPanel" ng-controller="BeaconSwitchCtrl">
  <div class="panel">
    <div class="panel-heading">
      Popular Beacons 
    </div>
    <div class="panel-body">
     
    </div>
  </div>
</div>
