<div ng-controller="performanceCtrl">

<div class="section row">
  <div class="panel">
    <div class="panel-heading admin-console-title">
      Beacon Usage
    </div>

  <div id='performance' class="panel-body">

    <div class="display">    
      <md-select class="display-option" ng-model="opt" placeholder="Top 10">
        <md-option ng-repeat="opt in opts" value="{{opt}}">{{ opt }}</md-option>
      </md-select>
    </div>

    <md-button class="md-raised sortButton">Sort</md-button>
    <histogram data="data" ytext="# Queries" xtext="BEACON IDs" button="sortButton"></histogram> 

      <div class="status">
          {{beaconResponsesN.length}}/{{beacons.length}} Beacons Loaded
      </div>
      <md-button class="md-raised dataButton" ng-click="changeData()">Add data</md-button>
    
  </div>

  </div>
</div>


<div class="section row">
  <div class="panel">
    <div class="panel-heading admin-console-title">
      Beacon Response Breakdown 
    </div>
    <div class="panel-body">
      <div class="col-lg-2 visual">
        <donut class="example" data="[2,2,3]" nquery="10" name="queries" colors="colors">
      </div>

    <div class="filter col-lg-10">  
      <div class="searchBar">  
        <md-chips class="beacon-chips" ng-model="selectedBeacons" md-autocomplete-snap md-require-match readonly="readonly">
        <md-autocomplete
            class="auto-complete"
            md-search-text-change="null"
            md-selected-item-change=""
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.name"
            placeholder={{searchBarText}}>
          <span md-highlight-text="searchText">{{item.name}} :: {{item.organization.id}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.name}}</strong>
            <em>({{$chip.organization.id}})</em>
          </span>
        </md-chip-template>
        <button md-chip-remove="" class="md-primary beaconchip" style="line-height: 0em;">
          <i class="fa fa-times"></i>
        </button>
        </md-chips>
        </div>
       
      
        

    </div>

  </div>
</div>

<div class="section row">
  <div class="panel">
    <div class="panel-heading admin-console-title">
      Users Leader Board 
    </div>
    <div class="panel-body">
      <div class="col-lg-6 visual">
         <md-button class="md-raised sortGeneButton">Sort</md-button>
         <histogram data="data" ytext="# Queries" xtext="Genes" color="rgb(103, 91, 191)" button="sortGeneButton"></histogram> 
      </div>

      <div class="col-lg-6">
        

      </div>
    </div>
      

  </div>
</div>

<div class="section row">
  <div class="panel">
    <div class="panel-heading admin-console-title">
      Popular Genes 
    </div>
    <div class="panel-body">
      <div class="col-lg-6 visual">
         <md-button class="md-raised sortUserButton">Sort</md-button>
         <histogram data="data2" ytext="# Queries" xtext="Genes" color="rgb(103, 91, 191)" button="sortUserButton"></histogram> 
      </div>

      <div class="col-lg-6">
       

      </div>
    </div>
      

  </div>
</div>


<div class="section row">
  <div class="panel">

    <div class="panel-heading">
      Test bed
    </div>

    <div class="panel-body">

    </div>
      

  </div>
</div>







</div>

