<div class="section row" ng-controller="BeaconCtrl">
  <div class="panel">
    <div class="panel-heading">
      Admin
    </div>
    <div class="panel-body">
    <div class="beacon-control-ui">
      <table class="table" >
        <tr class="fnt-wt-xbold">
          <td></td>
          <td>Beacon</td>
          <td>Insitute</td>
        </tr>
        <tbody ng-repeat="(orgname, datasets) in organizations">

        <tr ng-repeat="dataset in datasets">
          <td>
            <input class="toggle" type="checkbox">
          </td>
          <td>
            {{dataset.name}}<span class="m-l-sm" ng-if="dataset.aggregator"><i class="fa fa-fw fa-sitemap"></i></span>
          </td>
          <td>
            <span class="fnt-wt-bold" ng-if="$index == 0">{{orgname}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
