<div class="section row" ng-controller="BeaconSwitchCtrl">
  <div class="panel">
    <div class="panel-heading">
      Admin
    </div>
    <div class="panel-body">
      <div id="beacon-control-ui">
        <table class="table" >

          <tr class="tableHeaders">
            <td>
              Beacon
            </td>
            <td>Host</td>
          </tr>

          <tbody ng-repeat="(orgname, datasets) in organizations">
          <tr ng-repeat="dataset in datasets">

            <td>
                <div class="beaconSwitchButton">
                  <input type="checkbox" checked='beacon.checked' class='{{orgname}}' id='{{dataset.id}}' ng-click="checkOrg($event)">
                  <label for='{{dataset.id}}'></label>
                </div>
                <div class="beaconNameLabel">
                  <label >{{dataset.name}}</label>
                </div>
            </td>

            <td ng-if="$first">
              <div class="beaconSwitchButton">
                <input class="OnOffSlider" type="checkbox" checked='beacon.checked' id='{{orgname}}' ng-click="checkBeaconsByOrg($event)">
                <label for='{{orgname}}'></label>
              </div>
                <div class="orgNameLabel">
                  <label>{{orgname}}</label>
                </div>
            </td>

          </tr>

          </tbody>

            <tr>
              <td></td>
              <td>
                <div id="SwitchLabel">
                  <span>Master Switch</span>
                </div>        
                <div id="beaconSwitchButton">
                  <input type="checkbox" id="masterSwitch" ng-init="checked=true" ng-checked="getMasterState()" ng-click="switchAll($event)">
                  <label for="masterSwitch"></label>
                </div>
              </td>
          </tr>
        </table>


      </div>
    </div>
  </div>
</div>
