<div class="section row" ng-controller="BeaconWidgetCtrl">
  <div class="panel">
    <div class="panel-heading">
      Generate Beacon Network Widget
    </div>
    <div class="panel-body">
 
      <p>
        Using the beacon widget, you can display Beacon Network results in your website.
      </p>
 
      <div class="panel" ng-init="isDone1 = false">
        <div class="panel-heading">
          1. Select Beacons
          <a ng-click="isDone1 = !isDone1;" class="btn btn-xs pull-right" ng-class="!isDone1 ? 'btn-success' : 'btn-default'">{{isDone1 ? "Edit Selections" : "Done Selections"}}</a>
          <span class="clearfix"></span>
        </div>
        <div class="panel-body" collapse="isDone1">
          <table class="table" >
            <tr class="fnt-wt-xbold">
              <td>Host</td>
              <td>Dataset</td>
              <td><center><button class="btn btn-xs btn-default" ng-click="selectAll(true)"> All</button> <button class="btn btn-xs btn-default" ng-click="selectAll(false)"> None</button></center>
            </tr>
            <tbody ng-repeat="(orgname, datasets) in organizations">
 
            <tr ng-repeat="dataset in datasets">
 
              <td>
                <span class="fnt-wt-bold" ng-if="$index == 0">{{orgname}}</span>
              </td>
              <td>
                {{dataset.name}}<span class="m-l-sm" ng-if="dataset.aggregator"><i class="fa fa-fw fa-ellipsis-h"></i></span>
              </td>
              <td>
                <center><input type="checkbox" ng-model="dataset.checked" ng-checked="dataset.checked"></center>
              </td>
            </tr>
            </tbody>
          </table>
          <a ng-click="isDone1 = !isDone1;" class="btn btn-xs pull-right" ng-class="!isDone1 ? 'btn-success' : 'btn-default'">{{isDone1 ? "Edit Selections" : "Done Selections"}}</a>
          <span class="clearfix"></span>
        </div>
      </div>
 
      <div class="panel">
        <div class="panel-heading">
          2. Select reference genome 
        </div>
        <div class="panel-body">
          <select ng-model="ref">
            <option value="hg18">GRCh36/hg18</option>
            <option value="hg19">GRCh37/hg19</option>
            <option value="hg38">GRCh38/hg38</option>
          </select>
        </div>
      </div>
 
      <div class="panel">
        <div class="panel-heading">
          3. Chromosome
        </div>
        <div class="panel-body">
          <select ng-model="chr">
            <option ng-repeat="chromosome in chromosomes" value="{{chromosome}}">
              {{chromosome}}
            </option>
          </select>
        </div>
      </div>
 
      <div class="panel">
        <div class="panel-heading">
          4. Position (0-based)
        </div>
        <div class="panel-body">
          <input ng-model="pos" type="number"/>
        </div>
      </div>
 
      <div class="panel">
        <div class="panel-heading">
          5. Allele
        </div>
        <div class="panel-body">
          <select ng-model="allele">
            <option value="A">A</option>
            <option value="T">T</option>
            <option value="C">C</option>
            <option value="G">G</option>
          </select>
        </div>
      </div>
 
      <div class="panel">
        <div class="panel-heading">
          6. Embed HTML
        </div>
        <div class="panel-body">
          <pre>{{code()}}</pre>
        </div>
      </div>
    </div>
  </div>
 
</div>
