
/* Admin homepage  */ 
.admin-menu h2{
	color:black;
}
.dir-box{
	height: 10em;
}
.dir-box:hover{
	background-color:white;
}
.dir-box h2{
	color: #3A1758;
}
.dir-box p{
	color:black;
}

.circleBase{
	margin: auto;
	text-align: center;
	color:white;
	border-radius:50%;
	background: #618C4E;
	width: 120px;
	height: 120px;
	padding: 10px;
}
.circleBase h4{
	padding-top:10px;
}

.admin-menu  i{
	margin-right: 10px;
}

.beacon-info-panels{
	margin-top:5em;
}
h2.title{
	margin-top:35px;
	color: rgb(84, 133, 133);
}


/* ==== Beacon performance page ==== */ 


/* Shared */
svg{
	margin: 2em;
}

.admin-console-title{
	font-size: 25px;
  	background-color: inherit;
  	border: none;
  	color: rgb(156, 153, 153);
  	text-align: center;
}

.chart-sort-button{
	float: left;
}

.chart-update-button {
	float: right;
	margin-top: 0px;
}
.option-selector{
	float: left;
}

.selectpicker option{
	font-size: 17px;
}

.selectpicker > * {
	width: inherit;
}

/* Histogram */ 

.bu-control{
	font-size: 15px;
}

.status {
	float: right;
	padding-left: 15px;
	font-size: 20px;
	color: "#BBAAAA";
}

.display-option{
	float: left;
	padding-left: 15px;
	font-size: 20px;
	margin-top: -20px;
}

/* Chips */ 
.beacon-chips .md-chip {
	position: relative;
	padding-right: 35px; 
}
.beacon-chips .md-chip .md-chip-remove-container {
	position: absolute;
	right: 4px;
	top: 4px;
	margin-right: 0;
	height: 24px; 
}
.beacon-chips .md-chip .md-chip-remove-container button.beaconchip {
	position: relative;
	height: 24px;
	width: 24px;
	line-height: 30px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	transition: background 0.15s linear;
	display: block; 
}
.beacon-chips .md-chip .md-chip-remove-container button.beaconchip md-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) scale(0.7);
	color: white;
	fill: white; 
}
.beacon-chips .md-chip .md-chip-remove-container button.beaconchip:hover, .beacon-chips .md-chip .md-chip-remove-container button.beaconchip:focus {
	background: rgba(180, 0, 0, 0.7); 
}

.searchBar{
	margin: 15px;
}

.searchBar button{
	color: rgb(224, 224, 224);
}

/* Table  */ 
.user-board{
	font-size: 20px;
}

.user-id {
	text-align: center;
}


/* date and time range picker */ 
.date-element {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.date-start{
	height: 80px;
}

.date-end{
	height: 80px;
}


@media screen and (max-width: 1200px) {

    .date-pick {
        width: 80%;
        margin: 0 auto;
    }
    .time-pick {
    	margin: 0 auto;
    	transform: translateY(-15%) !important;
    }
    .date-start {
    	display: block;
    	float:right;
    }
    .date-end {
    	display: block;
    	float:right;
    }

    .date-range-selector .guide-text {
		float: none !important;
    }
}