.beacon-info-icon{
	color: rgb(154,205,50); 
}
.org-info-icon{
	color: rgb(66,139,202);
}

.aggregator-icon{
	color: rgb(172,172,172);
}

.aggregator-icon:hover{
	color: black;
}

.aggregator-icon:hover:after {
    border-radius: 5px;
    margin-left: 10px;
    color: #312D2D;
    background: #EBE6E6;
    content: "Aggregator: this beacon does not serve datasets of its own; it aggregates the data of other beacons.";
    padding: 5px 5px;
    position: absolute;
    text-align: left;
    z-index: 98;
    width: auto;
    max-width: 180px;
    min-width: 180px;
}